<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class=things>
      <h3>Items:</h3>
      <% stuff.forEach(function(stuff) { %>
        <h4>
        <div class="button-container">

  <form method="POST" action="/shop/<%= stuff._id %>?_method=DELETE">
      <a href="/shop/<%= stuff._id %>"><%= stuff.title %>
             <p>Price: <%= stuff.price %></p></a>
           <div>
              <button type="submit" class="btn btn-xs btn-danger">Delete</button>
           </div>
  </form>



  <form method="POST" action="/shop/<%= stuff._id %>">
      <div>
        <button onclick="bankin(event)"  type="submit" class="sold">Sell</button>
  <script>
      function bankin(event){
    var r = confirm("do you want to sell item and add$"+<%= stuff.price %>+" to the bank?");
      if (r==false){
         event.preventDefault();
}
};
</script>
       </div>
            </form>
</div>


        </h4>
      <% }) %>
    </div>
    <a href="/shop/new" class="btn btn-primary" id="new">New</a>
<div class="bankButt">
  $<%= bank.toFixed(2) %><br>
  MyBank
</div>
  </main>


<!--
  <footer>
    <% include ../partials/footer %>
  </footer>-->
</body>
</html>
