<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class=things>
      <h3>Items:</h3>
      <% stuff.forEach(function(stuff) { %>
        <h4>
        <div class="button-container">
            <img class="itemPic" src="<%= stuff.pic %>"><br>
            <a href="/shop/<%= stuff._id %>"><%= stuff.title %><br>
                <p>Price: <%= stuff.price %></p></a><br>

  <form method="POST" action="/shop/<%= stuff._id %>?_method=DELETE">

           <div>
              <button onclick="deleteConfirm_<%= stuff._id %>(event)" class="btn btn-danger">Delete</button>
               <script>
                   function deleteConfirm_<%= stuff._id %>(event){
                      console.log('I ran!');
                       var y = confirm("Are you sure you want to delete <%= stuff.title %>  from your store?");
                            if (y == false){
                                event.preventDefault();
                            }
                   };
               </script>
           </div>
  </form>




  <form method="POST" action="/shop/<%= stuff._id %>">
      <div>
        <button onclick="bankin_<%= stuff._id %>(event)"  type="submit" class="btn btn-success">Sell</button>
  <script>
      function bankin_<%= stuff._id %>(event){
    var r = confirm("Do you want to sell item and add$" + <%= stuff.price %> + " to the bank?");
      if (r==false){
         event.preventDefault();
}
};
</script>
       </div>
            </form>
</div>
        </h4>
      <% }) %>

    </div>
    <a href="/shop/new" class="btn btn-primary" id="new">New</a>

<div class =  'bankContain'>
<div class="bankButt">
  $<%= bank.toFixed(2) %><br>
  MyBank
</div>
<form method="POST" action="/shop/cashout/?_method=PUT">
<button onclick="cashout(event)" class="btn btn-info" type="submit"> Cash Out </button>
<script>
function cashout(event){
  var c = confirm("Do you want to cash out and set bank to $0?");
  if (c==false){
    event.preventDefault();
  }
};
</script>
</form>
</div>

  </main>


<!--
  <footer>
    <% include ../partials/footer %>
  </footer>-->
</body>
</html>
