<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main style="text-align: center;">
    <div>
      <h3>SHOW</h3>
      <p><b>Item: </b><%= item.title %></p>
      <p><b>Price: </b><%= item.price %></p> <br>
      <img class='itemPic' src='<%= item.pic %>'>





      <p><b>Created: </b><%= item.getCreatedAt() %></p>
      <p><b>Last Updated: </b><%= item.getUpdatedAt() %></p>
    </div>

    <a href="/shop" class="btn btn-primary">Back</a>
    <a href="/shop/<%= item._id %>/edit" class="btn btn-danger">Edit</a>
  </main>

<!--   <footer>
    <% include ../partials/footer %>
  </footer> -->
</body>
</html>
